body {
    background-color: #f9fafc;

    font-family: 'Open Sans', sans-serif /*"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif*/;
/*     sans-serif is a property for the Open Sans font. Sans serif means that the text will not have any free edges hanging off, compare this with how
    Times-New Roman looks where it has little edges coming off each end of the line. You can see this by googling serif vs sans-serif fonts */
        font-weight: normal;
        font-style: normal;
        line-height: 1;
  }
  


 h1 {
    color: #000;
    margin-left: 20px;
 }
    p {
    color: #69696a;
    
      }
div {
    border-style: none none none double;
}
                
button {
    background-color: black;
    color:white;
    border-radius: 15px;
    width: 100%
    }
    
