body {
    background-color: teal;

    font-family: 'Open Sans', sans-serif /*"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif*/;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
  }

 h2 {
    color: #000;
    margin-left: 20px;
 }

 p {
    color: #CCC;
    
      }
div {
    border-style: none none none none;
}

div.form
{
    display: block;
    text-align: center;
}


form {
    background-color: white;
    border-style: none none none none;
    width: 50%;
    border-radius: 25px;
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

a {
    color: #CCC;
    text-decoration: none;
  }
                
button {
    background-color: black;
    color:white;
    border-radius: 15px;
    width: 40%;
    align-items: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    }
    